<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="static/js/ml.js"></script>

    <title>UCBE: Team 5k Final Project</title>
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center" style="margin-bottom:0">
            <h1>Biden || Trump?</h1>
            <h2>Which Presidential Candidate will win the Swing States in 2020?</h2>
                <p>Can we predict the number of votes obtained based on the amount of donations raised in that county?
                </p>
        </div>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Team5k</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Models</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class=""><a href="/votes">Votes</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <form>
                <div class="form-group col-md-4">
                    <select id="mlType" class="form-control">
                        {% for ml_type in ml_types %}
                        <option>{{ml_type}}</option>
                        {% endfor %}
                    </select>
                </div>
                <a href="#" id="submitBtn"> <button class="btn btn-default">Submit</button></a>
            </form>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-5" id="results_images_col1">
            </div>
            <div class="col-md-5" id="results_images_col2">
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>

</body>

</html>
